@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Account created <a id="confirm-link" class="btn btn-primary" href="@Model.EmailConfirmationUrl">Continue</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
